<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <AxisSetting>
        <Axis nId="0" Direction="0" SpeedHome="10000" SpeedMove="200000" name="Table_Z" proportion="1000/1mm" SpeedTime="2000000" StartSpeed="10000" />
        <Axis nId="1" Direction="0" SpeedHome="10000" SpeedMove="100000" name="Chart_Z" proportion="1000/1mm" SpeedTime="1000000" StartSpeed="5000" />
        <Axis nId="2" Direction="0" SpeedHome="10000" SpeedMove="200000" name="Table_X" proportion="1000/1mm" SpeedTime="2000000" StartSpeed="10000" />
        <Axis nId="3" Direction="0" SpeedHome="40000" SpeedMove="200000" name="AA_X" proportion="16000/1mm" SpeedTime="1000000" StartSpeed="5000" />
        <Axis nId="4" Direction="1" SpeedHome="40000" SpeedMove="200000" name="AA_Y" proportion="16000/1mm" SpeedTime="1000000" StartSpeed="5000" />
        <Axis nId="5" Direction="0" SpeedHome="40000" SpeedMove="200000" name="AA_Z" proportion="8000/1mm" SpeedTime="1000000" StartSpeed="5000" />
        <Axis nId="6" Direction="0" SpeedHome="40000" SpeedMove="200000" name="AA_Xt" proportion="106458.6/1°" SpeedTime="1000000" StartSpeed="5000" />
        <Axis nId="7" Direction="0" SpeedHome="40000" SpeedMove="200000" name="AA_Yt" proportion="23562.6/1°" SpeedTime="1000000" StartSpeed="5000" />
    </AxisSetting>
    <IOSetting>
        <!--Type 0是输入，1是输出-->
        <IO port="0" type="0" description="污点前阻挡接近开关" />
        <IO port="1" type="0" description="AA前阻挡接近开关" />
        <IO port="2" type="0" description="AA后阻挡接近开关" />
        <IO port="3" type="0" description="胶水顶升工作位" />
        <IO port="4" type="0" description="胶水顶升原位" />
        <IO port="5" type="0" description="" />
        <IO port="6" type="0" description="" />
        <IO port="7" type="0" description="" />
        <IO port="8" type="0" description="" />
        <IO port="9" type="0" description="" />
        <IO port="10" type="0" description="AA顶升气缸工作位" />
        <IO port="11" type="0" description="AA顶升气缸原位" />
        <IO port="12" type="0" description="AA上电气缸工作位" />
        <IO port="13" type="0" description="AA上电气缸原位" />
        <IO port="14" type="0" description="" />
        <IO port="15" type="0" description="备用" />
        <IO port="16" type="0" description="AA夹爪工作位" />
        <IO port="17" type="0" description="AA夹爪原位" />
        <IO port="18" type="0" description="AA左前门锁信号" />
        <IO port="19" type="0" description="安全继电器启动" />
        <IO port="20" type="0" description="开按钮信号" />
        <IO port="21" type="0" description="关按钮信号" />
        <IO port="22" type="0" description="急停按钮信号" />
        <IO port="23" type="0" description="复位信号" />
        <IO port="24" type="0" description="后门锁信号" />
        <IO port="25" type="0" description="AA右前门锁信号" />
        <IO port="26" type="0" description="" />
        <IO port="27" type="0" description="" />
        <IO port="28" type="0" description="" />
        <IO port="29" type="0" description="" />
        <IO port="30" type="0" description="" />
        <IO port="31" type="0" description="" />
        <IO port="0" type="1" description="胶水前阻挡" />
        <IO port="1" type="1" description="AA前阻挡" />
        <IO port="2" type="1" description="AA后阻挡" />
        <IO port="3" type="1" description="复位灯" />
        <IO port="4" type="1" description="胶水顶升工作位" />
        <IO port="5" type="1" description="胶水顶升原位" />
        <IO port="6" type="1" description="" />
        <IO port="7" type="1" description="" />
        <IO port="8" type="1" description="" />
        <IO port="9" type="1" description="" />
        <IO port="10" type="1" description="AA顶升气缸工作位" />
        <IO port="11" type="1" description="AA顶升气缸原位" />
        <IO port="12" type="1" description="AA上电气缸工作位" />
        <IO port="13" type="1" description="AA上电气缸原位" />
        <IO port="14" type="1" description="AA夹爪气缸工作位" />
        <IO port="15" type="1" description="AA夹爪气缸原位" />
        <IO port="16" type="1" description="总阀启动" />
        <IO port="17" type="1" description="三色灯 红" />
        <IO port="18" type="1" description="三色灯 黄" />
        <IO port="19" type="1" description="三色灯 绿" />
        <IO port="20" type="1" description="蜂鸣器" />
        <IO port="21" type="1" description="FFU风机" />
        <IO port="22" type="1" description="设备照明" />
        <IO port="23" type="1" description="伺服启动" />
        <IO port="24" type="1" description="UV启动" />
        <IO port="25" type="1" description="UV关闭" />
        <IO port="26" type="1" description="TableZ轴刹车" />
        <IO port="27" type="1" description="ChartZ轴刹车" />
        <IO port="28" type="1" description="" />
        <IO port="29" type="1" description="" />
        <IO port="30" type="1" description="" />
        <IO port="31" type="1" description="" />
    </IOSetting>
</configuration>
